{% assign sorted_pages = site.pages | sort:"order" %}
<p class="text-center">
{% for page in sorted_pages %}{% if page.title and page.order > 0 and page.url != "/" %}<a class="btn btn-outline-primary m-2" href="{{ page.url | relative_url }}">{{ page.title }}</a>{% endif %}{% endfor %}
</p>
